h1 {
    color: FFEB00;
    text-align: center;
    font-size: 50;
    font-weight: bold;
}
h2 {
    color: FFEB00;
    text-align: center;
     font-size: 40;
}
h3 {
    color: FFEB00;
     font-size: 30;
    text-align: center;
    font-family: "verdana"
}
h4 {
    color: FFEB00;
     font-size: 20;
    font-family: "verdana"
}
a:link {
color: FFEB00;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: FFEB00;
}
a:hover {
text-decoration: none;
color: whitesmoke;
}
a:active {
text-decoration: none;
color: FFEB00;
}
#div1 {
    width:64px;
    height:64px;
    border:solid 2px gold;
    text-align:center;
}